body,html{
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.gl-page{
  position: absolute;
  height: 100%;
  width: 100%;

  display: -webkit-flex;
  display: flex;

  flex-direction: column;
}

.gl-content{
  flex: 1;
}

//弹性盒子
.gl-flex__box {
  display: flex;
  align-items: center;
  &-item {
    flex: 1;
    overflow: scroll;
  }
}
